#body{background-color: #b1f9d4;}
#front  {padding-top:150px;min-height:100%; background-color:#16A085 ; color: white;}
#about {padding-top:50px;min-height:100%; background-color: #1ABC9C;}
#tech {padding-top:50px;min-height:100%; background-color: #1ABC9C; }
#projects { padding-top:50px;min-height:100%; background-color: #1ABC9C; color:#2C3E50;}
#blog { padding-top:50px;min-height: 100%; background-color:#1ABC9C; color:#2C3E50;}
#contact { padding-top:50px;min-height: 88%; background-color:#16A085; color:#2C3E50;}
#test { min-height: 12%; background-color:#2C3E50; color:white;}
hero{ font-family: "Roboto"; font-weight: lighter; color:#2C3E50; text-align: center; font-size: 40px;}
h1{ font-family: "Roboto"; font-weight: lighter; color:white; text-align: center; font-size: 50px;}
hero1{ font-family: "Roboto"; font-weight: normal; color:white; text-align: center; font-size: 20px;}
h2{text-align: center;}
h3{text-align:center;}
h5{font-weight: lighter; color:#2C3E50;}
hr{border-color:#3F495E;}
.fa {padding-right: 5px; color:white; font-size: 40px;}


