body{background-image: url('../assets/background.jpg'); background-attachment: fixed; position: relative;}
#front1{padding-bottom: 20px; min-height: 40%; background-color:rgba(22,160,133,0.7); color: white;}
#front  {padding-top:120px;min-height:60%; background-color:rgba(22,160,133,0.7) ; color: white;}
#about {padding-top:50px;min-height:100%; background-color: rgba(26,188,156,0.6);}
#tech {padding-top:50px;min-height:100%; background-color: rgba(26,188,156,0.5);}
#projects { padding-top:50px;min-height:100%; background-color: rgba(26,188,156,0.6); color:#2C3E50;}
#contact { padding-top:50px;min-height: 84%; background-color:rgba(22,160,133,0.6); color:#2C3E50;}
#test { min-height: 16%; background-color:#2C3E50; color:white;}
hero{ font-family: "Roboto"; font-weight: lighter; color:white; text-align: center; font-size: 40px;}
h1{ font-family: "Roboto"; font-weight: lighter; color:white; text-align: center; font-size: 50px;}
hero1{ font-family: "Roboto"; font-weight: normal; color:white; text-align: center; font-size: 20px;}
h2{text-align: center;}
h3{text-align:center;}
h5{font-weight: lighter; color:#2C3E50;}
hr{border-color:#2C3E50;}
.fa {padding-right: 5px; color:white; }
.gd{position: relative; transform: translateY(50%);}
.img-responsive{
        margin: 0 auto;
}


