#front1{padding-bottom: 20px; min-height: 40%; background-color:#16A085 ; color: white; opacity: 0.8;}
#front  {padding-top:120px;min-height:60%; background-color:#16A085 ; color: white; opacity: 0.8; }
#about {padding-top:50px;min-height:100%; background-color: #1ABC9C;opacity: 0.6;}
#tech {padding-top:50px;min-height:100%; background-color: #1ABC9C; opacity: 0.5;}
#projects { padding-top:50px;min-height:100%; background-color: #1ABC9C; color:#2C3E50;opacity: 0.6;}
#blog { padding-top:50px;min-height: 100%; background-color:#1ABC9C; color:#2C3E50;opacity: 0.5;}
#contact { padding-top:50px;min-height: 84%; background-color:#16A085; color:#2C3E50;opacity: 0.6;}
#test { min-height: 16%; background-color:#2C3E50; color:white;}
hero{ font-family: "Roboto"; font-weight: lighter; color:white; text-align: center; font-size: 40px;}
h1{ font-family: "Roboto"; font-weight: normal; color:white; text-align: center; font-size: 50px;}
hero1{ font-family: "Roboto"; font-weight: normal; color:white; text-align: center; font-size: 20px;}
h2{text-align: center;}
h3{text-align:center;}
h5{font-weight: lighter; color:#2C3E50;}
hr{border-color:#3F495E;}
.fa {padding-right: 5px; color:white; font-size: 40px;}
.gd{position: relative; transform: translateY(50%);}


